.transactionApp {
  width: 40%;
  background-color: #ddd;
  padding: 3rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.9);
}

@media (max-width: 991px) {
  .transactionApp {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .transactionApp {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .transactionApp {
    width: 95%;
  }
}
