* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 1.8rem;
}

html {
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}
